@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. */

@theme {
  --color-primary: #65b6c9;
  --color-secondary: #4ebcb1;
  
  --font-nuno: 'Nunito', sans-serif;
  /* Light theme colors */
  --color-background: #f7f7f7;
  --color-foreground: #374151;
  --color-card: #ffffff;
  --color-card-foreground: #374151;
  --color-popover: #ffffff;
  --color-popover-foreground: #374151;
  --color-primary: #4db6ac;
  --color-primary-foreground: #ffffff;
  --color-secondary: #64b5f6;
  --color-secondary-foreground: #ffffff;
  --color-muted: #f4f6f8;
  --color-muted-foreground: #6b7280;
  --color-accent: #4db6ac;
  --color-accent-foreground: #ffffff;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #fafafa;
  --color-border: #e5e7eb;
  --color-input: #e5e7eb;
  --color-ring: #4db6ac;
  --color-sidebar-background: #fafafa;
  --color-sidebar-foreground: #374151;
  --color-sidebar-primary: #1f2937;
  --color-sidebar-primary-foreground: #fafafa;
  --color-sidebar-accent: #f3f4f6;
  --color-sidebar-accent-foreground: #1f2937;
  --color-sidebar-border: #d1d5db;
  --color-sidebar-ring: #3b82f6;

  /* Dark theme colors */
  --color-background-dark: #0c1220;
  --color-foreground-dark: #f9fafb;
  --color-card-dark: #0c1220;
  --color-card-foreground-dark: #f9fafb;
  --color-popover-dark: #0c1220;
  --color-popover-foreground-dark: #f9fafb;
  --color-primary-dark: #f9fafb;
  --color-primary-foreground-dark: #1e293b;
  --color-secondary-dark: #1e293b;
  --color-secondary-foreground-dark: #f9fafb;
  --color-muted-dark: #1e293b;
  --color-muted-foreground-dark: #94a3b8;
  --color-accent-dark: #1e293b;
  --color-accent-foreground-dark: #f9fafb;
  --color-destructive-dark: #7f1d1d;
  --color-destructive-foreground-dark: #f9fafb;
  --color-border-dark: #1e293b;
  --color-input-dark: #1e293b;
  --color-ring-dark: #cbd5e1;
  --color-sidebar-background-dark: #1f2937;
  --color-sidebar-foreground-dark: #f3f4f6;
  --color-sidebar-primary-dark: #3b82f6;
  --color-sidebar-primary-foreground-dark: #ffffff;
  --color-sidebar-accent-dark: #111827;
  --color-sidebar-accent-foreground-dark: #f3f4f6;
  --color-sidebar-border-dark: #111827;
  --color-sidebar-ring-dark: #3b82f6;

  --radius: 0.75rem;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  .dark body {
    background-color: var(--color-background-dark);
    color: var(--color-foreground-dark);
  }
}
